@use '../base/variables' as *;
.stages {
	padding-top: 115px;
	padding-bottom: 111px;
	background-color: $gold-color;
	&__wrapper {
		display: flex;
		align-items: center;
		gap: 132px;
		&-info {
			display: flex;
			text-align: center;
			gap: 58.5px;
		}
	}
	&__btn {
		margin-top: 68px;
		display: inline-flex;
		align-items: center;
		gap: 10px;
		text-align: center;
		padding: 18px 52px;
		background-color: white;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.56;
		letter-spacing: 0.01em;
		text-align: center;
		color: #000;

		&::before {
			content: '';
			width: 24px;
			height: 24px;
			background: url('../img/stage/check-circle.svg') center / contain
				no-repeat;
		}
	}

	&__left {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 1.09;
		color: #000;
	}
	&__text {
		margin-top: 20px;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.67;
		letter-spacing: 0.01em;
		color: #000;
		width: 608px;
		&-span {
			color: white;
		}
	}

	&__info {
		position: relative;

		&:not(:last-child) {
			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -62px;
				width: 76px;
				height: 4px;
				background-color: $white;
			}
		}
		&-title {
			margin-top: 33px;
			font-weight: 700;
			font-size: 16px;
			line-height: 1.56;
			letter-spacing: 0.01em;
			text-align: center;

			color: #000;
		}
		&-text {
			margin-top: 2px;
			font-weight: 400;
			font-size: 16px;
			line-height: 1.56;
			letter-spacing: 0.01em;
			text-align: center;
			color: #000;
			width: 221px;
			text-align: center;
		}
	}
}

@media screen and (max-width: 1440px) {
	.stages {
		&__wrapper {
			flex-direction: column;
			align-items: center;
		}

		&__wrapper-info {
			gap: 40px 32px;
		}

		&__text {
			max-width: 608px;
			margin: 0 auto;
			margin-top: 20px;
		}
	}
}

@media screen and (max-width: 920px) {
	.stages {
		&__wrapper {
			display: flex;
			flex-direction: column;
			&-info {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
@media screen and (max-width: 920px) {
	.stages {
		&__wrapper {
			gap: 100px;
		}
		&__text {
			width: auto;
		}
		&__info {
			margin-bottom: 40px;
			&:not(:last-child)::before {
				top: calc(100% + 40px);
				right: auto;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				height: 4px;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.stages__btn {
		padding: 18px 20px;
	}
}

@media screen and (max-width: 375px) {
	.stages {
		&__text {
			text-align: center;
		}
		&__title {
			font-size: 28px;
		}
	}
	.stages__btn {
		padding: 18px 15px;
	}
}
