@use 'variables' as *;

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: $main-color;
	color: $white;
	font-family: 'Montserrat', sans-serif;
}

button,
input,
select,
textarea {
	font-family: 'Montserrat', sans-serif;
}
.container {
	max-width: 1550px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
}

a {
	color: #fff;
}

.hidden {
	display: none;
}

p,
h1,
h2,
h3,
hr {
	margin: 0;
}
